<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />

        <!-- ===== CSS ===== -->
        <link rel='stylesheet' href='/css/styles.css' />

        <!-- ===== BOX ICONS ===== -->
        <script
            type='module'
            src='https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js'
        ></script>
        <script
            nomodule=''
            src='https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js'
        ></script>
        <link
            href='https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css'
            rel='stylesheet'
        />
        <link
            href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css'
            rel='stylesheet'
        />

        <title>aromakreativ.de</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class='l-header'>
            <nav class='nav bd-grid'>
                <div>
                    <a href='#' class='nav__logo'>AROMA<br />KREATIV</a>
                </div>

                <div class='nav__menu' id='nav-menu'>
                    <ul class='nav__list'>
                        <li class='nav__item'>
                            <a href='#home' class='nav__link active'>Home</a>
                        </li>
                        <li class='nav__item'>
                            <a href='#about' class='nav__link'>About</a>
                        </li>
                        <li class='nav__item'>
                            <a href='#skills' class='nav__link'>Ätherische Öle</a>
                        </li>
                        <li class='nav__item'>
                            <a href='#diy' class='nav__link'>Do it yourself</a>
                        </li>
                        <li class='nav__item'>
                            <a href='#portfolio' class='nav__link'>Shop</a>
                        </li>
                        <li class='nav__item'>
                            <a href='#contact' class='nav__link'>Kontakt</a>
                        </li>
                    </ul>
                </div>

                <div class='nav__toggle' id='nav-toggle'>
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
            <div class='cart'>
                <a href='/cart' target='_blank'>
                    <ion-icon name='basket'></ion-icon><span>0</span>
                </a>
            </div>
        </header>

        <main class='l-main'>
            <!--===== HOME =====-->
            <section class='home' id='home'>
                <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'>
                    <path
                        fill='#5b5355'
                        fill-opacity='1'
                        d='M0,288L60,272C120,256,240,224,360,208C480,192,600,192,720,202.7C840,213,960,235,1080,202.7C1200,171,1320,85,1380,42.7L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z'
                    ></path>
                </svg>
                <div class='home__container bd-grid'>
                    <h1 class='home__title'>
                        Lifestyle<br />und<br />Kreatives<br />
                        <span class='title1'>mit<br />ätherischen Ölen</span>
                    </h1>
                    <img src='/img/round.png' class='home__img' />
                </div>
            </section>

            <!--===== ABOUT =====-->
            <section class='about section' id='about'>
                <h2 class='section-title'>Über mich</h2>

                <div class='about__container bd-grid'>
                    <div class='about__img'>
                        <img src='/img/Anne.png' alt='' />
                    </div>

                    <div>
                        <h2 class='about__subtitle'>Herzlich Willkommen!</h2>
                        <p class='about__text'>
                            Anne ist mein Name. Im April 2020 durfte ich die
                            wunderbare Welt der ätherischen Öle kennen lernen.
                            Stück für Stück integrierte ich diese in meinem
                            Leben. Heute ist es so, dass sie mich täglich von
                            früh bis spät begleiten. Die Öle unterstützen mich
                            auf körperlicher und emotionaler Ebene in allen
                            Lebenslagen. Ein wunderbarer Nebeneffekt ist ihr
                            einfach nur der himmlischer Duft.<br />
                            Im Laufe der Zeit haben sich meine Kreativität und
                            "meine" ätherische Öle miteinander verbunden. Es
                            entstehen immer wieder MEGA tolle Sachen der
                            besonderen Art, welche ihr hier auf meiner Seite
                            entdecken könnt.<br />
                            Man muss nicht erst krank sein um die Öle zu
                            benutzen. Ich habe MEGA viel Spaß mit "meinen" Ölen
                            und du sollst auch diesen wahnsinnigen Spaß für dich
                            erleben.
                        </p>

                        <div class='about__social'>
                            <p class='about__text'>
                                Besuche mich gerne auf Instagram
                            </p>
                            <a
                                href='https://www.instagram.com/aroma.kreativ?r=nametag'
                                class='about__social-icon'
                                target='_blank'
                            ><i class='bx bxl-instagram'></i></a>
                        </div>
                    </div>
                </div>
            </section>

            <!--===== OELE =====-->
            <section class='skills section' id='skills'>
                <h2 class='section-title'>Ätherische Öle</h2>

                <div class='skills__container bd-grid'>
                    <div class='skills__img'>
                        <img src='/img/doterra.png' alt='' />
                    </div>

                    <div>
                        <h2 class='skills__subtitle'>Himmlische Düfte</h2>
                        <p class='skills__text'>
                            Hier geht es lang.......... dein Weg in die dufte
                            Welt der ätherischen Öle. Erfahre was ätherische Öle
                            sind und wie sie angewandt werden. Lerne Doterra
                            kennen, ein Unternehmen mit sozialer und
                            ökologischer Verantwortung. Schnupper einfach mal
                            rein und vereinbare gerne einen persönlichen Termin
                            mit mir.
                        </p>

                        <div class='skills__social'>
                            <p class='skills__text'>
                                Besuche meine persönliche Seite bei doTerra
                            </p>
                            <a
                                href='https://www.mydoterra.com/anneruthenberg/#/'
                                class='skills-btn'
                                target='_blank'
                            >Mein doTerra</a>
                        </div>
                    </div>
                </div>
            </section>

            <!--===== DIY =====-->
            <section class='diy section' id='diy'>
                <h2 class='section-title'>Do it yourself!</h2>

                <div>
                    <h2 class='diy__subtitle'>
                        Tipps und Tricks für die Praxis
                    </h2>
                    <p class='diy__text'>
                        Sei hemmungslos und integrierte die Öle mit Leichtigkeit
                        und Intuition in dein MEGA geiles Leben! Hier findest du
                        Tipps und Anregungen zum Nachmachen und weiter kreieren.
                    </p>
                </div>
                <p class='diy__text'>
                    Nutze die Wundermittelchen als dein persönliches Spa!
                    Verwöhne Haut und Sinne mit diesen individualisierten
                    Produkten.
                </p>
                <div class='slider'>
                    <div class='img-box'>
                        <img class='slider-img' src='/img/shower 1.png' />
                        <div class='btn-p' onclick='prev()'>
                            <i class='bx bx-chevrons-left'></i>
                        </div>
                        <div class='btn-n' onclick='next()'>
                            <i class='bx bx-chevrons-right'></i>
                        </div>
                    </div>
                </div>
                <p class='diy__text'>
                    Auch kulinarisch gesehen sind die ätherischen Öle vielfach
                    anwendbar. Kreiere deine eigenen Lieblingsspeisen mit
                    persönlicher Note!
                </p>
                <div class='slider'>
                    <div class='img-box'>
                        <img class='slider-pics' src='/img/1.png' />
                        <div class='btn-p2' onclick='prevPics()'>
                            <i class='bx bx-chevrons-left'></i>
                        </div>
                        <div class='btn-n2' onclick='nextPics()'>
                            <i class='bx bx-chevrons-right'></i>
                        </div>
                    </div>
                </div>
                <p class='diy__text'>
                    Hier ein paar Rezepte für dich. Viel Spaß beim ausprobieren
                    und lass' es dir schmecken!
                </p>
                <div class='slider'>
                    <div class='img-box'>
                        <img class='slider-recs' src='/img/schoko 1.png' />
                        <div class='btn-p2' onclick='prevRecs()'>
                            <i class='bx bx-chevrons-left'></i>
                        </div>
                        <div class='btn-n2' onclick='nextRecs()'>
                            <i class='bx bx-chevrons-right'></i>
                        </div>
                    </div>
                </div>
                <p class='diy__text'>
                    Der Phantasie sind keine Grenzen gesetzt. Lasse deinen Ideen
                    freien Lauf und integriere die Alleskönner in deinen Alltag!
                </p>
                <div class='slider'>
                    <div class='img-box'>
                        <img class='slider-fires' src='/img/feuer 1.png' />
                        <div class='btn-p2' onclick='prevFires()'>
                            <i class='bx bx-chevrons-left'></i>
                        </div>
                        <div class='btn-n2' onclick='nextFires()'>
                            <i class='bx bx-chevrons-right'></i>
                        </div>
                    </div>
                </div>
                <p class='diy__text'>
                    Hier noch ein paar Anregungen von mir, damit du dich mit
                    Hilfe der Düfte besser entspannen kannst. Vergesse den
                    Stress für einen Moment und genieße die Ruhe!
                </p>
                <div class='slider'>
                    <div class='img-box'>
                        <img class='slider-rlxs' src='/img/draw.png' />
                        <div class='btn-p2' onclick='prevRlxs()'>
                            <i class='bx bx-chevrons-left'></i>
                        </div>
                        <div class='btn-n2' onclick='nextRlxs()'>
                            <i class='bx bx-chevrons-right'></i>
                        </div>
                    </div>
                </div>
            </section>
            <!--===== SHOP =====-->
            <section class='portfolio section' id='portfolio'>
                <h2 class='section-title'>Shop</h2>

                <div class='portfolio__container bd-grid'>
                    <div class='portfolio__img'>
                        <img src='/img/kapselhalter1.jpg' alt='' />

                        <h3>
                            Kapsel(B)bar I
                            <br />Kapselhalter für 1 Ölflasche und 3 Kapseln
                        </h3>
                        <p>
                            Artikelbezeichnung:<br />
                            Handgefertigt in den Neustrelitzer Werkstätten<br
                            />Von Menschen mit Handicap hergestellt<br />Aus
                            heimischer, mecklenburgischer Buche<br />Behandelt
                            mit Kinderspielzeug geeigneten Lack<br />Bis
                            Kapselgröße 00 geeignet<br />Für 5 ml und 15 ml
                            Flaschen
                        </p>
                        <h3>19,90€</h3>
                        <a class='add-cart cart1'>In den Warenkorb</a>
                        <input type='hidden' value='19.9' />
                    </div>
                    <div class='portfolio__img'>
                        <img src='/img/kapselhalter2.jpg' alt='' />

                        <h3>
                            Kapsel(B)bar II
                            <br />Kapselhalter für 2 Ölflaschen und 3 Kapseln
                        </h3>
                        <p>
                            Artikelbezeichnung:<br />
                            Handgefertigt in den Neustrelitzer Werkstätten<br
                            />Von Menschen mit Handicap hergestellt<br />Aus
                            heimischer, mecklenburgischer Buche<br />Behandelt
                            mit Kinderspielzeug geeigneten Lack<br />Bis
                            Kapselgröße 00 geeignet<br />Für 5 ml und 15 ml
                            Flaschen
                        </p>
                        <h3>19,90€</h3>
                        <a class='add-cart cart2'>In den Warenkorb</a>
                    </div>
                </div>
            </section>

            <!--===== KONTAKT =====-->
            <section class='contact section' id='contact'>
                <h2 class='section-title'>Kontakt</h2>

                <div class='contact__container bd-grid'>
                    <div class='contact__info'>
                        <h3 class='contact__subtitle'>EMAIL</h3>
                        <span
                            class='contact__text'
                        >aromakreativ@gmail.com</span>
                        <h3 class='contact__subtitle'>LOCATION</h3>
                        <span class='contact__text'>A. Ruthenberg<br />
                            17252 Mirow
                        </span>
                    </div>

                    <form action='' class='contact__form'>
                        <div class='contact__inputs'>
                            <input
                                type='text'
                                placeholder='Name'
                                class='contact__input'
                            />
                            <input
                                type='mail'
                                placeholder='Email'
                                class='contact__input'
                            />
                        </div>

                        <textarea
                            name=''
                            id=''
                            cols='0'
                            rows='10'
                            class='contact__input'
                        ></textarea>

                        <input
                            type='submit'
                            value='Senden'
                            class='contact__button'
                        />
                    </form>
                </div>
            </section>
        </main>

        <!--===== FOOTER =====-->
        <footer class='footer section'>
            <div class='footer__container bd-grid'>
                <div class='footer__data'>
                    <h2 class='footer__title'>aromakreativ.de</h2>
                    <p class='footer__text'>Anne Ruthenberg</p>
                </div>

                <div class='footer__data'>
                    <h2 class='footer__title'>entdecke</h2>
                    <ul>
                        <li><a href='#home' class='footer__link'>Home</a></li>
                        <li><a href='#about' class='footer__link'>About</a></li>
                        <li>
                            <a href='#skills' class='footer__link'>Öle</a>
                        </li>
                        <li>
                            <a href='#diy' class='footer__link'>DIY</a>
                        </li>
                        <li>
                            <a href='#portfolio' class='footer__link'>Shop</a>
                        </li>
                        <li>
                            <a href='#Contact' class='footer__link'>Kontakt</a>
                        </li>
                    </ul>
                </div>

                <div class='footer__data'>
                    <h2 class='footer__title'>Instagram</h2>
                    <a
                        href='https://www.instagram.com/aroma.kreativ?r=nametag'
                        class='about__social-icon'
                        target='_blank'
                    ><i class='bx bxl-instagram'></i></a>
                </div>
            </div>
        </footer>

        <!--===== SCROLL REVEAL =====-->
        <script src='https://unpkg.com/scrollreveal'></script>

        <!--===== MAIN JS =====-->
        <script src='/js/main.js'></script>
    </body>
</html>